<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }} {{#title}}:: {{{this}}}{{/title}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@perlundberg">
  <meta name="twitter:creator" content="@perlundberg">
  {{#if post.title }}
  <meta name="twitter:title" content="{{ post.title }}">
  {{else}}
  <meta name="twitter:title" content="{{ site.title }}">
  {{/if}}
  {{#if post.excerpt}}
  <meta name="twitter:description" content="{{ post.excerpt }}">
  {{/if}}
  <meta name="twitter:image" content="https://www.halleluja.nu/icon.png">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel=stylesheet href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <meta name="theme-color" content="#fafafa">

  <script type="text/javascript">
      function writeEmail() {
          // Email obfuscator script 2.1 by Tim Williams, University of Arizona
          // Random encryption key feature coded by Andrew Moulden
          // This code is freeware provided these four comment lines remain intact
          // A wizard to generate this code is at http://www.jottings.com/obfuscator/
          coded = "YBlyGq@EiJWy.wUi";
          key = "bxy7EuvwAUX4CP2RtVedpGmafz5HOhTjrnB8YFiJLDKs01MNlqg9QcWoZI3k6S";
          shift=coded.length;
          link="";

          for (i = 0; i < coded.length; i++) {
              if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
              }
              else {
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
              }
          }

          document.write("<a href='mailto:"+link+"'>(" + link + ")</a>")
      }
  </script>
</head>

<body>

  <div class=container>
    <div class="site-header clearfix" role=banner>
      <a href="/{{ language }}">
        <div class=site-logo>halleluja
          <span class=star>&#x2605;</span> nu
        </div>
      </a>
      <ul class="site-nav inline-block-list">
        {{#ifeq language null}}
        <li><a href="/en">EN</a></li>
        <li><a href="/sv">SV</a></li>
        {{/ifeq}}
        {{#ifeq language 'sv'}}
        <li><a href="/sv">Start</a></li>
        <li><a href="/sv/om">Om oss</a></li>
        <li><a href="/">Language</a></li>
        {{/ifeq}}
        {{#ifeq language 'en'}}
        <li><a href="/en">Start</a></li>
        <li><a href="/en/bible-study">Bible study</a></li>
        <li><a href="/en/about">About us</a></li>
        <li><a href="/">Language</a></li>
        {{/ifeq}}
      </ul>
    </div>
  </div>
